body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #004d99;
  color: #333;
}

.conteudo-principal {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.cabecalho {
  background-color: white;
  padding: 0;
  margin-bottom: 20px;
  border-radius: 0;
  display: block;
}

.cabecalho-conteudo {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #004d99;
}

.cabecalho h1 {
  margin: 0;
  font-size: 24px;
}

.cabecalho .logo {
  max-height: 80px;
  max-width: 250px;
  width: auto;
}

.cabecalho input[type="text"] {
  border: 1px solid #004d99 !important;
}

.secao-comparacao {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secao-comparacao h2 {
  color: #004d99;
}

.lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.cartao-produto {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  min-width: 280px;
  text-align: center;
}

.cartao-produto h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #004d99;
}

.cartao-produto img {
  max-width: 120px;
  height: auto;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
}

.detalhes p {
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
}

.detalhes strong {
  font-weight: bold;
  display: inline-block;
  width: 80px;
}

.rodape-paleta {
  margin-top: 40px;
  padding: 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rodape-paleta h3 {
  color: #333;
  background-color: #ddd;
}

.linha-cores {
  display: flex;
  width: 100%;
  height: 60px;
  flex-wrap: nowrap;
}

.bloco-cor {
  flex-grow: 1;
  flex-shrink: 0;
  width: 12.5%;
  height: 100%;
}

.link-descricao: {
  background-color: #0056b3;
  cursor: pointer;
}
